html {
  box-sizing: border-box;
  font-size: 62%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input, textarea {
  background: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  background-color: #fafbff;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 3rem 1rem 1.3rem;
}
@media screen and (min-width: 768px) {
  body {
    justify-content: initial;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-position-x: right;
  }
}

p {
  color: #858fad;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.header {
  text-align: center;
  position: relative;
  height: 15rem;
}
@media screen and (min-width: 768px) {
  .header {
    background-position: center 11.8rem;
    margin-bottom: 4.9rem;
    height: 27rem;
  }
}
.header::after {
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  margin: auto;
  left: 50%;
  top: -3.4rem;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header::after {
    top: 6rem;
  }
}
.header__heading {
  color: #293356;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
}
@media screen and (min-width: 768px) {
  .header__heading {
    font-size: 2.83rem;
    margin-top: 15.5rem;
    margin-bottom: 1rem;
  }
}
.header__text {
  line-height: 2.5rem;
  font-size: 1.3rem;
  margin: auto;
  max-width: 18rem;
}
@media screen and (min-width: 768px) {
  .header__text {
    font-size: 1.5rem;
    max-width: none;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px #eaeefb;
  padding: 3.2rem 2.4rem;
  position: relative;
  height: 48rem;
  width: 33rem;
}
@media screen and (min-width: 768px) {
  .card {
    padding: 4.1rem 4.7rem 6rem 4.3rem;
    height: 40rem;
    width: 54rem;
  }
}
.card__pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .card__pricing {
    flex-direction: row;
  }
}
.card__pageviews {
  font-size: 1.3rem;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  margin-bottom: 8.7rem;
}
@media screen and (min-width: 768px) {
  .card__pageviews {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
.card__price {
  display: flex;
  align-items: center;
}
.card__price #price {
  margin-right: 1rem;
  color: #293356;
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -2.6px;
}
@media screen and (min-width: 768px) {
  .card__price #price {
    font-size: 4rem;
    letter-spacing: -1px;
  }
}
.card__slider {
  margin-top: 3.9rem;
  width: 100%;
  position: absolute;
  top: 5rem;
}
@media screen and (min-width: 768px) {
  .card__slider {
    top: 0;
    position: relative;
  }
}
.card__slider input {
  margin: 0;
  width: 28.3rem;
}
@media screen and (min-width: 768px) {
  .card__slider input {
    width: 100%;
  }
}
.card__billing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 3.2rem;
  position: relative;
  transform: translateX(-0.6rem);
}
@media screen and (min-width: 768px) {
  .card__billing {
    margin-top: 5.3rem;
    transform: none;
  }
}
.card__billing p {
  font-size: 1.2rem;
}
.card__discount {
  background-color: #feece7;
  border-radius: 1rem;
  color: #ff8c66;
  font-size: 1rem;
  padding: 0.2rem 0.7rem 0.2rem;
  position: absolute;
  right: -1.7rem;
}
@media screen and (min-width: 768px) {
  .card__discount {
    right: 2rem;
  }
}
.card__discount::after {
  content: "-25%";
}
@media screen and (min-width: 768px) {
  .card__discount::after {
    content: "25% discount";
  }
}
.card__toggle {
  position: relative;
  display: inline-block;
  width: 4.4rem;
  height: 2.2rem;
  margin: 0 1.2rem;
}
@media screen and (min-width: 768px) {
  .card__toggle {
    margin: 0 1.8rem;
  }
}
.card__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.card__toggle input:checked + .toggle {
  background-color: #79EADD;
}
.card__toggle input:checked + .toggle::before {
  transform: translateX(2rem);
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
}
.card__toggle .toggle {
  background-color: #cdd7ee;
  border-radius: 5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card__toggle .toggle::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.3rem;
  margin-top: 2.4rem;
  padding-top: 4rem;
}
@media screen and (min-width: 768px) {
  .card__features {
    flex-direction: row;
    margin-top: 3.5rem;
  }
}
.card__features::after {
  background: #F1F0F4;
  content: "";
  height: 1px;
  width: 100%;
  left: 0;
  top: 26.2rem;
  position: absolute;
}
.card__features ul {
  list-style: url("../images/icon-check.svg");
  margin-left: 1.9rem;
}
.card__features ul li {
  color: #858fad;
  margin-bottom: 1rem;
}

.cta {
  background-color: #293356;
  border-radius: 3rem;
  color: #bdccff;
  padding: 1.1rem 4.5rem;
  transition: 200ms ease-in-out transform, color;
  margin-top: 2.2rem;
}
@media screen and (min-width: 768px) {
  .cta {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.cta:hover {
  color: white;
  transform: scale(1.02);
}

input[type=range] {
  -webkit-appearance: none;
  background: linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 0%, #eaeefb 100%);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  animate: 0.2s;
  border-radius: 1rem;
  height: 0.8rem;
}

input[type=range]::-webkit-slider-thumb {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  background: url("../images/icon-slider.svg") #10d5c2 no-repeat;
  background-position: center;
  box-shadow: 0px 15px 25px #a5f3eb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #23AEA1;
}

input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  background: #a5f3eb;
}

input[type=range]::-moz-range-thumb {
  background: url("../images/icon-slider.svg") #10d5c2 no-repeat;
  background-position: center;
  box-shadow: 0px 15px 25px #a5f3eb;
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  background: #10d5c2;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  background: url("../images/icon-slider.svg") #10d5c2 no-repeat;
  background-position: center;
  box-shadow: 0px 15px 25px #a5f3eb;
  margin-top: 1px;
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  background: #10d5c2;
  cursor: pointer;
}
